{% extends 'layout_admin.html.twig' %}

{% block title %}{{ 'header.add_sport_name'|trans}}{% endblock %}

{% block content %}
    <h1>{{ 'header.add_sport_name'|trans}}</h1>
    {{ form_start(form, { method: 'post', action: url('add_sport') }) }}
    {{ form_widget(form) }}
    <input type="submit" value="{{'button.add'|trans}}" class="button" />
    {{ form_end(form) }}

{% endblock %}