{% extends 'layout_admin.html.twig' %}

{% block title %}{{ 'title.auth_add_training'|trans }}{% endblock %}

{% block content %}
<h1>{{'header.delete_user'|trans}}</h1>
<h2>{{'title.delete_user'|trans}}</h2>

{% if error is defined and error|length %}
{{ error }}
{% endif %}

<div>
    {{ form_start(form, { method: 'post', action: path('delete_user', {'id':id})}) }}
    {{ form_widget(form) }}
    <input type="submit" value="{{ 'button.delete'|trans }}" class="button" />
    {{ form_end(form) }}
</div>
{% endblock %}



{#{% block content %}#}
{#<h1>Czesc, Twój kalendarz działa!</h1>#}

{#{{ dump(calendar) }}#}

{#<h1>Dni treningu</h1>#}
{#<tr>#}
    {#{% for data in calendar %}#}
    {#<h2>dzien treningu</h2>#}
    {#<td>{{ data.Training_day_day_number }}</td>#}
    {#<br>#}
    {#{% endfor %}#}
    {#</tr>#}

{#{% endblock %}#}