{% extends 'layout_admin.html.twig' %}

{% block title %}{{ 'title.edit_sport_name'|trans }}{% endblock %}

{% block content %}
<h1>{{ 'title.edit_sport_name'|trans }}</h1>


{% if error is defined and error|length %}
{{ error }}
{% endif %}

<div>
    {{ form_start(form, { method: 'post', action: path('edit_sport_name', {'id':id})}) }}
    {{ form_widget(form) }}
    <input type="submit" value="{{ 'button.change'|trans }}" class="button" />
    {{ form_end(form) }}
</div>

{% endblock %}



{#{% block content %}#}
{#<h1>Czesc, Twój kalendarz działa!</h1>#}

{#{{ dump(calendar) }}#}

{#<h1>Dni treningu</h1>#}
{#<tr>#}
    {#{% for data in calendar %}#}
    {#<h2>dzien treningu</h2>#}
    {#<td>{{ data.Training_day_day_number }}</td>#}
    {#<br>#}
    {#{% endfor %}#}
    {#</tr>#}

{#{% endblock %}#}