{% extends 'layout.html.twig' %}

{% block title %}'To Twoi użytkownicy{% endblock %}

{% block content %}
    <h1>{{'title.list_all_training_days'|trans }}</h1>


    <table class="vitamins" width="50%" align="center" text-align="center">
        <thead>
        <tr>
            <th>{{ 'table.training_day'|trans }}</th>
            <th>{{ 'table.user_id'|trans }}</th>
            <th>{{ 'table.edit'|trans }}</th>
            <th>{{ 'table.delete'|trans }}</th>

        </tr>
        </thead>

        {% for data in table %}
            <tr>
                <td>{{ data.Training_day_day_number }}</td>
                <td>{{ data.User_ID }}</td>


                <td>
                    <a class="btn btn-default" href="{{ url('edit_training_day', {'id': data.Training_day_ID} )}}" title="{{ 'auth.logout.label'|trans }}">
                        {{ 'button.change'|trans }}
                    </a>
                </td>

                <td>
                    <a class="btn btn-default" href="{{ url('delete_training_day', {'id': data.Training_day_ID} )}}" title="{{ 'auth.logout.label'|trans }}">
                        {{ 'button.delete'|trans }}
                    </a>
                </td>
            </tr>
        {% endfor %}

    </table>

{% endblock %}