{% extends 'layout.html.twig' %}

{% block title %}{{'title.list_all_trainings'|trans }}{% endblock %}

{% block content %}
    <h1>{{ 'title.list_all_trainings'|trans }}</h1>


    <table class="vitamins" width="50%" align="center" text-align="center">
        <thead>
        <tr>
            <th>{{ 'table.sport_time'|trans }}</th>
            <th>{{ 'table.sport_kcal'|trans }}</th>
            <th>{{ 'table.sport_distance'|trans }}</th>
            <th>{{ 'table.sport_name'|trans }}</th>
            <th>{{ 'table.user_id'|trans }}</th>
            <th>{{ 'table.edit'|trans }}</th>
            <th>{{ 'table.delete'|trans }}</th>

        </tr>
        </thead>

        {% for data in table %}
            <tr>
                <td>{{ data.Sport_time }}</td>
                <td>{{ data.Sport_kcal }}</td>
                <td>{{ data.Sport_distance }}</td>
                <td>{{ data.Sport_Name }}</td>
                <td>{{ data.User_ID }}</td>

                <td>
                    <a class="btn btn-default" href="{{ url('edit_training', {'id': data.User_ID} )}}" title="{{ 'auth.logout.label'|trans }}">
                        {{ 'button.change'|trans }}
                    </a>
                </td>

                <td>
                    <a class="btn btn-default" href="{{ url('delete_training', {'id':data.Sport_ID})}}" title="{{ 'auth.logout.label'|trans }}">
                        {{ 'button.delete'|trans }}
                    </a>
                </td>
            </tr>
        {% endfor %}

    </table>

{% endblock %}