{% extends 'layout.html.twig' %}

{% block title %}'To Twoi użytkownicy{% endblock %}

{% block content %}
    <h1>Czesc, to lista wszystkich treningów Twoich użytkowników!</h1>


    <table class="vitamins" width="50%" align="center" text-align="center">
        <thead>
        <tr>
            <th>Czas</th>
            <th>KCAL</th>
            <th>Dystans</th>
            <th>Nazwa sport</th>
            <th>Id_usera</th>
            <th>Edytuj</th>
            <th>Usuń</th>



        </tr>
        </thead>

        {% for data in table %}
            <tr>
                <td>{{ data.Sport_time }}</td>
                <td>{{ data.Sport_kcal }}</td>
                <td>{{ data.Sport_distance }}</td>
                <td>{{ data.Sport_Name }}</td>
                <td>{{ data.User_ID }}</td>

                <td>
                    <a class="btn btn-default" href="{{ url('edit_training', {'id': data.User_ID} )}}" title="{{ 'auth.logout.label'|trans }}">
                        {{ 'edit_training'|trans }}
                    </a>
                </td>

                <td>
                    <a class="btn btn-default" href="{{ url('index' )}}" title="{{ 'auth.logout.label'|trans }}">
                        {{ 'delete_training'|trans }}
                    </a>
                </td>
            </tr>
        {% endfor %}

    </table>

{% endblock %}