{% extends 'layout.html.twig' %}

{% block title %}'To Twoi użytkownicy{% endblock %}

{% block content %}
    <h1>Czesc, to lista wszystkich treningów Twoich użytkowników!</h1>


    <table class="vitamins" width="50%" align="center" text-align="center">
        <thead>
        <tr>
            <th>Nazwa sportu</th>
            <th>Edytuj</th>
            <th>Usuń</th>

        </tr>
        </thead>

        {% for data in table %}
            <tr>
                <td>{{ data.Sport_Name }}</td>


                <td>
                    <a class="btn btn-default" href="{{ url('index', {'id': data.Sport_Name_ID} )}}" title="{{ 'auth.logout.label'|trans }}">
                        {{ 'edit_sport_name'|trans }}
                    </a>
                </td>

                <td>
                    <a class="btn btn-default" href="{{ url('delete_sport_name', {'id': data.Sport_Name_ID} )}}" title="{{ 'auth.logout.label'|trans }}">
                        {{ 'delete_sport_name'|trans }}
                    </a>
                </td>
            </tr>
        {% endfor %}

    </table>

{% endblock %}