{% extends 'layout.html.twig' %}

{% block title %}{{'title.list_all_users'|trans }}{% endblock %}

{% block content %}
    <h1>{{'title.list_all_users'|trans }}</h1>
    <br>


    <table class="vitamins" width="50%" align="center" text-align="center">
        <thead>
        <tr>
            <th>{{'table.user_id'|trans }}</th>
            <th>{{'table.login'|trans }}</th>
            <th>{{'table.password'|trans }}</th>
            <th>{{'table.role'|trans }}</th>
            <th>{{'table.edit'|trans }}</th>
            <th>{{'table.change_password'|trans }}</th>
            <th>{{'table.delete'|trans }}</th>
        </tr>
        </thead>

        {% for data in table %}
            <tr>
                <td>{{ data.User_ID }}</td>
                <td>{{ data.User_login }}</td>
                <td>{{ data.User_password }}</td>
                <td>{{ data.Role_ID }}</td>
                <td>
                    <a class="btn btn-default" href="{{ url('edit_user',{'id':data.User_ID} )}}" title="{{ 'auth.logout.label'|trans }}">
                        {{ 'button.change'|trans }}
                    </a>
                </td>
                <td>
                    <a class="btn btn-default" href="{{ url('edit_password',{'id':data.User_ID} )}}" title="{{ 'auth.logout.label'|trans }}">
                        {{ 'button.change'|trans }}
                    </a>
                </td>

                <td>
                    <a class="btn btn-default" href="{{ url('delete_user',{'id':data.User_ID} )}}" title="{{ 'auth.logout.label'|trans }}">
                        {{ 'button.delete'|trans }}
                    </a>
                </td>
            </tr>
        {% endfor %}

    </table>

{% endblock %}