{% extends 'layout_admin.html.twig' %}

{% block title %}{{ 'title.list_all_sport_names'|trans }}{% endblock %}

{% block content %}
    <h1>{{ 'title.list_all_sport_names'|trans }}</h1>


    <table class="vitamins" width="50%" align="center" text-align="center">
        <thead>
        <tr>
            <th>{{ 'table.sport_name'|trans }}</th>
            <th>{{ 'table.edit'|trans }}</th>
            <th>{{ 'table.delete'|trans }}</th>

        </tr>
        </thead>

        {% for data in table %}
            <tr>
                <td>{{ data.Sport_Name }}</td>


                <td>
                    <a class="btn btn-default" href="{{ url('edit_sport_name', {'id': data.Sport_Name_ID} )}}" title="{{ 'auth.logout.label'|trans }}">
                        {{ 'button.change'|trans }}
                    </a>
                </td>

                <td>
                    <a class="btn btn-default" href="{{ url('delete_sport_name', {'id': data.Sport_Name_ID} )}}" title="{{ 'auth.logout.label'|trans }}">
                        {{ 'button.delete'|trans }}
                    </a>
                </td>
            </tr>
        {% endfor %}

    </table>

{% endblock %}