{% extends is_granted("ROLE_ADMIN") == 'true'
? 'layout_admin.html.twig'
: 'layout_user.html.twig' %}

{% block title %}{{'title.add_training_days'|trans }}{% endblock %}

{% block content %}
    <h1>{{ 'title.add_training_days'|trans }}</h1>

    {% if error is defined and error|length %}
        {{ error }}
    {% endif %}

    <div>
        {{ form_start(form, { method: 'post', action: path('add_training_day') }) }}
        {{ form_widget(form) }}
        <input type="submit" value="{{ 'button.add'|trans }}" class="button" />
        {{ form_end(form) }}
    </div>


{% endblock %}
