{% extends is_granted("ROLE_ADMIN") == 'true'
? 'layout_admin.html.twig'
: 'layout_user.html.twig' %}

{% block title %}{{ 'title.delete_training_days'|trans }}{% endblock %}

{% block content %}
    <h1>{{ 'title.delete_training_days'|trans }}</h1>
    <h2>{{ 'header.delete_training_day'|trans}}</h2>

    {% if error is defined and error|length %}
        {{ error }}
    {% endif %}

    <div>
        {{ form_start(form, { method: 'post', action: path('delete_training_day', {'id':id})}) }}
        {{ form_widget(form) }}
        <input type="submit" value="{{ 'button.delete'|trans }}" class="button" />
        {{ form_end(form) }}
    </div>
{% endblock %}

