{% extends 'layout.html.twig' %}

{% block title %}{{ 'title.auth_add_training'|trans }}{% endblock %}

{% block content %}
    <h1>{{ 'title.Usun'|trans }}</h1>
    <h2>Czy na pewno chcesz usunąć ten dzień treningu?</h2>

    {% if error is defined and error|length %}
        {{ dump(error) }}
    {% endif %}

    <div>
        {{ form_start(form, { method: 'post', action: path('delete_training_day', {'id':id})}) }}
        {{ form_widget(form) }}
        <input type="submit" value="{{ 'Usuń'|trans }}" class="button" />
        {{ form_end(form) }}
    </div>
{% endblock %}



{#{% block content %}#}
{#<h1>Czesc, Twój kalendarz działa!</h1>#}

{#{{ dump(calendar) }}#}

{#<h1>Dni treningu</h1>#}
{#<tr>#}
    {#{% for data in calendar %}#}
    {#<h2>dzien treningu</h2>#}
    {#<td>{{ data.Training_day_day_number }}</td>#}
    {#<br>#}
    {#{% endfor %}#}
    {#</tr>#}

{#{% endblock %}#}