{% extends is_granted("ROLE_ADMIN") == 'true'
? 'layout_admin.html.twig'
: 'layout_user.html.twig' %}

{% block title %}{{ 'title.list_training_days'|trans }}i{% endblock %}

{% block content %}
    <h1>{{ 'title.list_training_days'|trans }}</h1>

    <table class="vitamins" width="50%" align="center" text-align="center">
        <thead>
        <tr>
            <th>{{  'table.training_day'|trans }}</th>
            <th>{{  'table.edit'|trans }}</th>
            <th>{{  'table.delete'|trans }}</th>

        </tr>
        </thead>

        {% for data in table %}
            <tr>
                <td>{{ data.Training_day_day_number}}</td>

                <td>
                    <a class="btn btn-default" href="{{ url('edit_training_day', {'id': data.Training_day_ID})}}" title="{{ 'auth.logout.label'|trans }}">
                        {{ 'edit_training_day'|trans }}
                    </a>
                </td>

                <td>
                    <a class="btn btn-default" href="{{ url('delete_training_day', {'id': data.Training_day_ID})}}" title="{{ 'auth.logout.label'|trans }}">
                        {{ 'delete_training_day'|trans }}
                    </a>
                </td>
            </tr>
        {% endfor %}

    </table>

{% endblock %}