<!DOCTYPE html>
<html>
    <head>
        <title>{% block title '' %}{{ 'title.Sport_application'|trans }}</title>

        <link href="{{ asset('css/main.css') }}" rel="stylesheet" type="text/css" />

        <script type="text/javascript">
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-XXXXXXXX-X']);
            _gaq.push(['_trackPageview']);

            (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
        </script>
    </head>
    <body>

    {% include 'default/_flash_messages.html.twig' %}

        <nav class="navbar navbar-default">
                {% if is_granted("ROLE_USER") %}

                    <ul>
                        <li><a href="{{ url('index')}}">{{  'menu.home'|trans }}</a></li>
                        <li><a href="{{ url('auth_logout') }}">Logout</a></li>
                        <li><a href="{{ url('auth_edit_own_password') }}">Change password</a></li>
                        {#<li><a href="{{ url('calendar') }}">Calendar</a></li>#}

                    <li class="dropdown">
                        <a href="javascript:void(0)" class="dropbtn">{{  'menu.training'|trans }}</a>
                        <div class="dropdown-content">
                            <a href="{{ url('show_week_training') }}">{{  'menu.show_last_5_trainings'|trans }}</a>
                            <a href="{{ url('show_all_training') }}">{{  'menu.show_all_trainings'|trans }}</a>
                            <a href="{{ url('add_training') }}">{{  'menu.add_training'|trans }}</a>

                        </div>
                    </li>


                    <li class="dropdown">
                        <a href="javascript:void(0)" class="dropbtn">{{  'menu.training_day'|trans }}</a>
                        <div class="dropdown-content">
                            <a href="{{ url('add_training_day') }}">{{  'menu.add_training_day'|trans }}</a>
                            <a href="{{ url('show_all_training_day') }}">{{ 'menu.show_all_training_day'|trans }}</a>
                        </div>
                    </li>
                    </ul>

                {% endif %}




            <h1>{{"title.Sport_application" |trans }}</h1>

            <h3>{{"title.Budda_quote" |trans }} <br> ~Buddha</h3>


            <div class="parallax"></div>

            <div style="height:50px;">

            </div>

            {% for message in app.session.flashbag.get('messages') %}
                <div class="error-message">
                    <div class="{{ message.type }}"><strong>{{message.message|trans}}</strong></div>
                </div>
            {% endfor %}

        </nav>

        {#{% include 'default/_flash_messages.html.twig' %}#}

        {% block content %}{% endblock %}

    <br>
    <br>
    <br>
    <br>

    <footer> Autor: Katarzyna Okońska 2017</footer>
    </body>
</html>
