<!DOCTYPE html>
<html>
    <head>
        <title>{% block title '' %} - My Silex Application</title>

        <link href="{{ asset('css/main.css') }}" rel="stylesheet" type="text/css" />

        <script type="text/javascript">
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-XXXXXXXX-X']);
            _gaq.push(['_trackPageview']);

            (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
        </script>
    </head>
    <body>
        <nav class="navbar navbar-default">

            <ul>
                <li><a href="http://localhost:8000/web/index_dev.php/index/">Home</a></li>

                <li><a href="http://localhost:8000/web/index_dev.php/auth/login">Login</a></li>

                <li><a href="http://localhost:8000/web/index_dev.php/auth/logout">Logout</a></li>

                <li><a href="http://localhost:8000/web/index_dev.php/auth/register">Register</a></li>

                <li class="dropdown">
                    <a href="javascript:void(0)" class="dropbtn">Training</a>
                    <div class="dropdown-content">
                        <a href="http://localhost:8000/web/index_dev.php/training/show_week">Show week</a>
                        <a href="http://localhost:8000/web/index_dev.php/training/show_all">Show all</a>
                        <a href="http://localhost:8000/web/index_dev.php/training/add">Add</a>
                        <a href="#">Link 3</a>
                    </div>
                </li>


                <li class="dropdown">
                    <a href="javascript:void(0)" class="dropbtn">Training Day</a>
                    <div class="dropdown-content">
                        <a href="http://localhost:8000/web/index_dev.php/training_day/add">Add training day</a>
                        <a href="http://localhost:8000/web/index_dev.php/training_day/show_all">Show all</a>
                    </div>
                </li>


                <li class="dropdown">
                    <a href="javascript:void(0)" class="dropbtn">Admin</a>
                    <div class="dropdown-content">
                        <a href="http://localhost:8000/web/index_dev.php/admin/add_sport">Add sport</a>
                        <a href="http://localhost:8000/web/index_dev.php/admin/show_all_users">Show all users</a>
                        <a href="http://localhost:8000/web/index_dev.php/admin/show_all_trainings">Show all trainings</a>
                        <a href="http://localhost:8000/web/index_dev.php/admin/show_all_training_days">Show all training days</a>
                    </div>
                </li>

                <li><a href="">        </a></li>
                <li><a href="">        </a></li>
                <li><a href="">        </a></li>
                <li><a href="">Logout</a></li>

            </ul>



            <h1>„W konfrontacji strumienia ze skałą,<br>
                strumień zawsze wygrywa -<br>
                nie przez swoją siłę, <br>
                ale przez wytrwałość." <br>
                ~Buddha</h1>

            <div class="parallax"></div>

            <div style="height:100px;">
                Scroll Up and Down this page to see the parallax scrolling effect.
                This div is just here to enable scrolling.
                Tip: Try to remove the background-attachment property to remove the scrolling effect.
            </div>

            <div class="container-fluid">
                <div class="btn-group pull-right" role="group" aria-label="{{ 'label.actions'|trans }}">
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        <a class="btn btn-default" href="{{ url('auth_logout') }}" title="{{ 'auth.logout.label'|trans }}">
                            {{ 'auth.logout.label'|trans }}
                        </a>
                    {% else %}
                        <a class="btn btn-default" href="{{ url('auth_login') }}" title="{{ 'auth.login.label'|trans }}">
                            {{ 'auth.login.label'|trans }}
                        </a>
                    {% endif %}
                </div>
            </div>
        </nav>

        {#{% include 'default/_flash_messages.html.twig' %}#}

        {% block content %}{% endblock %}

    <br>
    <br>
    <br>
    <br>

    <footer> That's all folks</footer>
    </body>
</html>
