{% extends 'layout.html.twig' %}

{% block title %}'To Twoje Treningi{% endblock %}

{% block content %}
    <h1>Czesc, Twoje treningi działają!</h1>

    {#{{ dump(table) }}#}

    {#<h1>Dni treningu</h1>#}
    {#<tr>#}
    {#{% for data in table %}#}
    {#<h2>dzien treningu</h2>#}
    {#<td>{{ data.Sport_time }}</td>#}
    {#<td>{{ data.Sport_kcal }}</td>#}
    {#<td>{{ data.Sport_distance }}</td>#}
    {#<td>{{ data.Sport_name_ID }}</td>#}
    {#<br>#}
    {#{% endfor %}#}
    {#</tr>#}


    <table class="border" width="50%" align="center" text-align="center">
        <thead>
        <tr>
            <th>Czas</th>
            <th>Kcal</th>
            <th>Dystans</th>
            <th>Sport_name_id</th>

        </tr>
        </thead>

        {% for data in table %}
            <tr>
                <td>{{ data.Sport_time }}</td>
                <td>{{ data.Sport_kcal }}</td>
                <td>{{ data.Sport_distance }}</td>
                <td>{{ data.Sport_name_ID }}</td>
            </tr>
        {% endfor %}

    </table>

{% endblock %}