{% extends 'layout.html.twig' %}

{% block title %}{{ 'title.register'|trans }}{% endblock %}

{% block content %}
    <h1>{{ 'title.register'|trans }}</h1>

    {% if error is defined and error|length %}
        {{ error }}
    {% endif %}

    <div>
        {{ form_start(form, { method: 'post', action: path('auth_register') }) }}
        <br>
        {{ form_widget(form) }}
        <br>
        <input type="submit" value="{{ 'button.register'|trans }}" class="button" />
        {{ form_end(form) }}
    </div>

    {% if status %}
        <h2>{{ 'sent_to_database'|trans }}</h2>
    {% endif %}

{% endblock %}