{% extends is_granted("ROLE_ADMIN") == 'true'
? 'layout_admin.html.twig'
: 'layout_user.html.twig' %}

{% block title %}{{'title.list_training'|trans }}{% endblock %}

{% block content %}
    <h1>{{'title.list_training'|trans }}</h1>

    {#{{ dump(table) }}#}

    {#<h1>Dni treningu</h1>#}
    {#<tr>#}
        {#{% for data in table %}#}
            {#<h2>dzien treningu</h2>#}
            {#<td>{{ data.Sport_time }}</td>#}
            {#<td>{{ data.Sport_kcal }}</td>#}
            {#<td>{{ data.Sport_distance }}</td>#}
            {#<td>{{ data.Sport_name_ID }}</td>#}
            {#<br>#}
        {#{% endfor %}#}
    {#</tr>#}


    <article>

    <table class="vitamins" width="80%" align="center" text-align="center">
        <thead>
        <tr>
            <th>{{ 'table.sport_time'|trans }}</th>
            <th>{{ 'table.sport_kcal'|trans }}</th>
            <th>{{ 'table.sport_distance'|trans }}</th>
            <th>{{ 'table.sport_name'|trans }}</th>
            <th>{{ 'table.edit'|trans }}</th>
            <th>{{ 'table.delete'|trans }}</th>
        </tr>
        </thead>

            {% for data in table %}
                <tr>
                    <td>{{ data.Sport_time }}</td>
                    <td>{{ data.Sport_kcal }}</td>
                    <td>{{ data.Sport_distance }}</td>
                    <td>{{ data.Sport_Name }}</td>

                    <td>
                        <a class="btn btn-default" href="{{ url('edit_training', {'id': data.Sport_ID})}}" title="{{ 'auth.logout.label'|trans }}">
                        {{ 'button.change'|trans }}
                        </a>
                    </td>


                    <td>
                        <a class="btn btn-default" href="{{ url('delete_training', {'id':data.Sport_ID})}}" title="{{ 'auth.logout.label'|trans }}">
                            {{ 'button.delete'|trans }}
                        </a>
                    </td>

                </tr>
            {% endfor %}

    </table>

    </article>


{% endblock %}