{% extends 'layout.html.twig' %}

{% block title %}{{  'title.edit_training'|trans }}{% endblock %}

{% block content %}
    <h1>{{  'header.add_training'|trans }}</h1>

    {% if error is defined and error|length %}
        {{ error }}
    {% endif %}

    <div>
        {{ form_start(form, { method: 'post', action: path('add_training') }) }}
        {{ form_widget(form) }}
        <input type="submit" value="{{ 'button.add'|trans}}" class="button" />
        {{ form_end(form) }}
    </div>

    {% if status %}
        <h2>{{ 'sent_to_database'|trans }}</h2>
    {% endif %}
{% endblock %}
