{% extends 'layout.html.twig' %}

{% block title %}{{'title.list_training_5'|trans }}{% endblock %}

{% block content %}
    <h1>{{'title.list_training_5'|trans }}</h1>

    {#{{ dump(table) }}#}

    {#<h1>Dni treningu</h1>#}
    {#<tr>#}
    {#{% for data in table %}#}
    {#<h2>dzien treningu</h2>#}
    {#<td>{{ data.Sport_time }}</td>#}
    {#<td>{{ data.Sport_kcal }}</td>#}
    {#<td>{{ data.Sport_distance }}</td>#}
    {#<td>{{ data.Sport_name_ID }}</td>#}
    {#<br>#}
    {#{% endfor %}#}
    {#</tr>#}


    <table class="vitamins" width="50%" align="center" text-align="center">
        <thead>
        <tr>
            <th>{{ 'table.sport_time'|trans }}</th>
            <th>{{ 'table.sport_kcal'|trans }}</th>
            <th>{{ 'table.sport_distance'|trans }}</th>
            <th>{{ 'table.sport_name'|trans }}</th>

        </tr>
        </thead>

        {% for data in table %}
            <tr>
                <td>{{ data.Sport_time }}</td>
                <td>{{ data.Sport_kcal }}</td>
                <td>{{ data.Sport_distance }}</td>
                <td>{{ data.Sport_name_ID }}</td>
            </tr>
        {% endfor %}

    </table>

{% endblock %}