{% extends is_granted("ROLE_ADMIN") == 'true'
? 'layout_admin.html.twig'
: 'layout_user.html.twig' %}

{% block title %}{{  'header.add_training'|trans }}{% endblock %}

{% block content %}
    <h1>{{  'header.add_training'|trans }}</h1>

    {% if error is defined and error|length %}
        {{ error }}
    {% endif %}

    <div>
        {{ form_start(formTraining, { method: 'post', action: path('add_training') }) }}
        {{ form_widget(formTraining) }}
        {{ form_widget(formDate) }}
        <input type="submit" value="{{ 'button.add'|trans}}" class="button" />
        {{ form_end(formTraining) }}
    </div>

{% endblock %}
