{% extends 'layout.html.twig' %}

{% block title %}'To Twoje Treningi{% endblock %}

{% block content %}
    <h1>Czesc, Twoje treningi działają!</h1>

    {#{{ dump(table) }}#}

    {#<h1>Dni treningu</h1>#}
    {#<tr>#}
        {#{% for data in table %}#}
            {#<h2>dzien treningu</h2>#}
            {#<td>{{ data.Sport_time }}</td>#}
            {#<td>{{ data.Sport_kcal }}</td>#}
            {#<td>{{ data.Sport_distance }}</td>#}
            {#<td>{{ data.Sport_name_ID }}</td>#}
            {#<br>#}
        {#{% endfor %}#}
    {#</tr>#}


    <article>

    <table class="vitamins" width="80%" align="center" text-align="center">
        <thead>
        <tr>
            <th>{{ 'time.label'|trans }}</th>
            <th>KCAL</th>
            <th>Dystans</th>
            <th>Nazwa sport</th>
            <th>Edytuj</th>
            <th>Usuń</th>

        </tr>
        </thead>

            {% for data in table %}
                <tr>
                    <td>{{ data.Sport_time }}</td>
                    <td>{{ data.Sport_kcal }}</td>
                    <td>{{ data.Sport_distance }}</td>
                    <td>{{ data.Sport_Name }}</td>

                    <td>
                        <a class="btn btn-default" href="{{ url('edit_training', {'id': data.Sport_ID})}}" title="{{ 'auth.logout.label'|trans }}">
                        {{ 'edit_training'|trans }}
                        </a>
                    </td>


                    <td>
                        <a class="btn btn-default" href="{{ url('delete_training', {'id':data.Sport_ID})}}" title="{{ 'auth.logout.label'|trans }}">
                            {{ 'delete_training'|trans }}
                        </a>
                    </td>

                </tr>
            {% endfor %}

    </table>

    </article>


{% endblock %}